/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9+Charted&family=Jersey+20&display=swap");

html,
body {
    margin: 0;
    height: 100%;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

span {
    font-size: 22vw;
    font-weight: 600;
    letter-spacing: -0.05em;
    line-height: 1em;
    margin: 0;
    padding: 0;
    color: #e72929;
}

canvas {
    min-height: 100vh;
}
